<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mcs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mcs"
        android:roundIcon="@mipmap/ic_mcs_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mcs">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainReservation" />
        <activity android:name=".MainLogin" />
        <activity android:name=".MainMap" />
        <activity android:name=".MainEct" />
    </application>

</manifest>